<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"   
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
 
<!-- <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}"/> -->
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"
th:href="@{/css/bootstrap.css}"/>
<script type="text/javascripts" src="../static/js/bootstrap.js"
th:href="@{/js/bootstrap.js}"/></script >

   <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!--   <script src="js/bootstrap.js"></script> -->
<script type="text/css" src="../static/css/Style.css"
th:src="@{css/Style.css}"/></script>
<link type="text/css" href="../static/css/simple-sidebar.css.css"/>
<!-- <link rel="stylesheet"  href="../static/css/bootstrap.min.css"/> -->
<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="../static/js/test.js"
th:src="@{js/test.js}"></script>
<script type="text/javascript" src="../static/js/jquery.mask.min.js"
th:src="@{js/jquery.mask.min.js}"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script> -->
<!-- <script type="text/javascript" src="webjars/jquery/2.2.3/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="webjars/4.0.0-alpha.2/js/bootstrap.min.js"></script> -->

</head>
<body>
	<header>
	   <div class="navbar navbar-inverse ">
            <ul class="nav navbar-nav">
                <li class=""><a th:href="@{/front}">ENREGISTREMENT DOSSIERS</a></li>
                <li><a th:href="@{/lic}">TRANSFERT DE DOSSIERS</a></li>
                <li><a th:href="@{/con}">STATISTIQUE</a></li>
                <li><a th:href="@{/param}">PARAMETRES</a></li> 
                <li><a th:href="@{/emp}">EMPLOYE</a></li>
                <li><a th:href="@{/ch}">CHEF</a></li> 
                <li><a th:href="@{/bur}">BUREAU</a></li> 
                <li><a th:href="@{/cou}">COURRIER</a></li>    

            </ul>
            
        </div>
	</header>




	<section layout:fragment="content"></section>
	
	
    <footer >
      <div class="navbar-fixed-bottom " >
     	<marquee> <small>                              @ DIRECTION DES PENSIONS</small></marquee>
      </div>
    </footer>
 </body>
</html>