<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"
th:href="@{/css/bootstrap.css}"/>
<title>AUTHENTIFICATION</title>
</head>
<body>


		    <div class="panel-body">	
		    		<div th:if="${param.error}" class="red">
		    		Incorrect Username or Password
		    		</div>
		    		<div th:if="${param.logout}" class="red">
		    		You have been logged out
		    		</div>
					       <form th:action="@{/login}"  method="post">
							   <div class="col-md-8 col-md-offset-2">
								   <div class="panel panel-primary" >
								 	<div class="panel-heading">Connexion</div>
									    <div class="panel-body">
									
									    <div class="form-group col-md-4 col-md-offset-1"  >
									                 <label > Username :</label>
									                 <input  class="form-control" type="TEXT" name="username" placeholder="USERNAME"/> 
									             </div>   
									            
									    <div class="form-group col-md-4 col-md-offset-1"  >
									                 <label > Password :</label>
									                 <input  class="form-control" type="password" name="password" placeholder="PASSWORD"/> 
									             </div>   
									         
									                 <div class="form-group col-md-4  col-md-offset-4">
													<button type="submit" class="btn btn-block btn-primary">VALIDER</button>
												</div>
									 </div>
									    </div>
								    </div>
							     </form>
		    	</div>
   

</body>
</html>